a
{
    text-decoration: none;
    color: goldenrod;
}


ul
{
    /* display: flex;
    list-style-type: none;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px auto;
    width: 50%;
}

li{
    font-size: 3rem;
    text-align: center;
    /* background-color: aquamarine;
    border-radius: 10px;
    border: 2px solid goldenrod; */
    padding: 0px;
    display: inline-block;
    margin: auto;
}

li a{
    color: goldenrod;
}

li p
{
    padding: 0px;
    font-size: 1em;
}

.nosservices h2
{
    font-size: 2em;
    text-align: center;
}


.classe1,.classe2,.classe3,.classe4,.classe5,.classe6,#casino
{
    height: 300px;
    width: 400px;
} 
.description
{
    text-align:justify;
    width: 25em;
}
#lesdiverstissemernt
{
    display: flex;
    padding: 1em;
}

div p 
{
    margin: 1em;
}

h3,h2
{
    margin: 1em;
    text-align: center;
}

#casino
{
    width: 600px;
}

#premieresection
{
    background-color: rgb(221, 236, 199);
    overflow: hidden;
}

header
{
    text-transform: uppercase;
    font-size: 1em;
    position: fixed;
     
    background-color: khaki;
   
}

#entetenosservice
{
    text-align: center;
    border-radius: 8px 8p 8px 45px;
}


*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box ;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
p{
    font-weight: 400;
    color: #111;
}
header{
    position:fixed;
    top: 0%;
    left:0%
    padding : 20px 10px
    width : 100%;
    z-index : 1
    display:flex
    justify-content:space-evenly
    align-items:center
    transition : 0.5s
}


.navbar{
    display: flex;
    position:relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    color: rgb(158, 131, 95); 
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
 }
 .rv{
     padding:10px 20px ;
     background: #72442d;;
     margin-top:-10px;
     text-transform: uppercase;  
 }
 .rv:hover{
     background: green;
     transition: ease-out;
 }
header .navbar li a:hover{
    color: rgb(241, 159, 82);
}


.logo{
    color: rgb(23, 51, 16);
    font-weight:bold;
    font-size: 2em;
    text-decoration:none;
    }
.logo span{
        color :rgb(94, 6, 6);
    }






.menu{
    margin-top: 120px;
}
.menu .contenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .contenu .box {
    width: 350px;
    margin: 20px;
    border:20px solid #fff;
    box-shadow:20px 15px 35px #111;
}
.menu .contenu .box .imbox{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .contenu .box .imbox .img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}
.menu .contenu .box .text{
    text-align: center;
    font-weight: 300px;
    color: black;
}
.menu .contenu .box .text h3{
    font-weight: 50;
}

#grandtitre
{
    text-transform: uppercase;
    font-size: 2em;
    background-color:rgb(226, 240, 215) ;
    height: 3em;
    text-align: center;
   padding-top: 1em;
}
